.message {
	display: none;
}

thead h1 {
	font-weight: bold;
	font-size: 1em;
	text-align: left;
	color: #1e7194;
}

table td {
	font-weight: normal;
	font-size: 1em;
	-webkit-box-shadow: 0 2px 2px -2px #0E1119;
	-moz-box-shadow: 0 2px 2px -2px #0E1119;
	box-shadow: 0 2px 2px -2px #0E1119;
}

table {
	text-align: left;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	display: table;
	padding: 0 0 8em 0;
}

table td, table th {
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 2%;
}

table td {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.42em;
	color: #A7A1AE;
}

table tr:nth-child(odd) {
	background-color: #323C50;
}

table tr:nth-child(even) {
	background-color: #2C3446;
}



table tr:hover {
	background-color: #464A52;
	-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	box-shadow: 0 6px 6px -6px #0E1119;
}

table td:hover {
	background-color: #43D1AF;
	color: #403E10;
	font-weight: bold;
	box-shadow: #1e7b65 -1px 1px, #1e7b65 -2px 2px, #1e7b65 -3px 3px,
		#1e7b65 -4px 4px, #1e7b65 -5px 5px, #1e7b65 -6px 6px;
	transform: translate3d(6px, -6px, 0);
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: line;
}

table a:hover {
	color: #403E10;
	font-weight: bold;
}

table a {
	text-decoration: none;
}

.action {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.42em;
	color: #A7A1AE;
}