@CHARSET "ISO-8859-1";

label, button {
	display: block;
	margin-top: 15px;
	font: 95% Arial, Helvetica, sans-serif;
	padding-bottom: 5px;
}

.message {
	display: none;
}

#reservationForm {
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
}

#reservationForm input[type="text"],
#reservationForm input[type="date"],
#reservationForm input[type="number"],
#reservationForm textarea,
#reservationForm select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

#reservationForm input[type="text"]:focus,
#reservationForm input[type="date"]:focus,
#reservationForm input[type="number"]:focus,
#reservationForm textarea:focus,
#reservationForm select:focus {
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

#submitReservation {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
}

.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover
	{
	background: #2EBC99;
}

#validation-error, #conflict-error, #system-error {
	padding-top: 10px;
	color: #cc0000;
}

@media screen and (max-width: 1000px){
	#reservationForm{
		min-width: 90%;
		font-size:30px;
	}
}