body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px;
}

.footer, .push {
	height: 100px;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header {
	background: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #43D1AF 3px solid;
}

ul {
	margin: 0;
	padding: 0;
}

.button {
	height: 38px;
	background: #43D1AF;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-tranform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a {
	color: #43D1AF;
	font-weight: bold;
}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

#showcase {
	min-height: 720px;
	background: url('../img/showcase.png') no-repeat center center fixed;
	background-position: center center;
	text-align: center; 
	-webkit-background-size : cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-background-size: cover
}

footer {
	padding: 20px;
	margin-top: 0px;
	margin-bottom:0px;
	background-color: #43D1AF;
	text-align: center;
	position:fixed;
	left:0px;
	bottom:0px;
	height:60px;
	width:100%;
}
