<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>Reservation Portal | Reservations</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/reservation-list.css">
</head>
<div class="wrapper">
	<header>
		<div class="container">
			<div id="branding">
				<h1>
					<span class="highlight">Reservation</span>
				</h1>
			</div>
			<nav>
				<ul>
					<li><a href="/index.html">Home</a></li>
					<li class="current"><a href="/reservation-list.html">List
							of reservations</a></li>
					<li><a href="/reservation.html">Place reservation</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<body>

		<div id="system-error" class="message">We are sorry, retrieving
			the list of reservations failed - please try again later.</div>
		</h2>
		<div id="action-error" class="message">We are sorry, we were
			unable to execute your action - please try again later.</div>
		</h2>

		<div id="reservation-list">
			<!-- the content will be placed here -->
		</div>

		<script id="reservation-list-template"
			type="text/x-handlebars-template">  
    <table>
      <caption><h1>List of reservations</h1></caption>
      <thead>
        <tr>
          <th><h1>Reservation ID</h1></th>
          <th><h1>Facility ID</h1></th>
          <th><h1>Start Date</h1></th>
          <th><h1>End Date</h1></th>
          <th><h1>Reserved by</h1></th>
          <th><h1>Action</h1></th>
        </tr>
      </thead>
      <tbody>
    {{#each content}}  
        <tr>                    
          <td>{{id}}</td>
          <td>{{resourceId}}</td>
          <td>{{startDate}}</td>            
          <td>{{endDate}}</td> 
          <td>{{owner}}</td> 
          <td><a href="#" class="action" reservationId="{{id}}">Cancel</a>           
        </tr>
    {{/each}}
      </tbody>
    </table>
  </script>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="js/lib/handlebars-v3.0.0.js"></script>
		<script src="js/reservation-list.js"></script>
		<div class="push"></div>
</div>
<div class="footer">
	<footer>
		<p>Bence Sódar, Copyright Ⓒ 2017
		<p>
	</footer>
</div>
</body>
</html>